<div class="hero">
    <div class="container">
        <section class="contact">
            <div class="container">
                <h5 class="section-head">
                    <span class="heading destination">Add Destination</span>

                </h5>
                <div class="contact-content">

                    <form action="/admin/Adddestination" method="POST" enctype="multipart/form-data"
                        class="form contact-form destination-add">

                        <div class="input-group">
                            <input type="text" id="Destination" name="Destination" placeholder="Destination"
                                class="input" />
                            <span class="bar"></span>
                        </div>
                        <div class="input-group">

                            <input type="file" id="image" name="image" placeholder="Add image" class="input"
                                onchange="viewImage(event)" />
                            <span class="bar"></span>
                        </div>
                        <button class="btn form-btn btn-purple" type="submit">
                            Add Destination
                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                        </button>
                    </form>
                </div>

            </div>
        </section>

    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-content-brand">
                <a href="#" class="logo">
                    <img src="/images/logo.png" class="logo-image" alt="" />
                </a>
                <p class="paragraph">
                    What is Lorem Ipsum Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s when an
                </p>
            </div>
            <div class="social-media-wrap">
                <h4 class="footer-heading">Follow us</h4>
                <div class="social-media">
                    <a href="#" class="sm-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-facebook-square"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-pinterest"></i></a>
                    <a href="#" class="sm-link"><i class="fab fa-tripadvisor"></i></a>


                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    function viewImage(event) {
        document.getElementById('image-view').src = URL.createObjectURL(event.target.files[0])
    }
</script>

<style>
    .footer {
        margin-top: 0px
    }
</style>