<section class="admin-home">

    <div class="grid rooms-grid">
        <div class="grid-item featured-rooms">

            <div class="image-wrap">
                <img class="room-image admin-room-image" src="/images/room_1.jpg" alt="" />
                <a href="/admin/hotels">
                    <h5 class="room-name">Hotels</h5>
                </a>
                <span class="booking_details">{{hotelcount}}
                </span>

            </div>



        </div>

        <div class="grid-item featured-rooms">
            <div class="image-wrap">
                <img class="room-image admin-room-image" src="/images/room_1.jpg" alt="" />
                <a href="/admin/orders">
                    <h5 class="room-name">Total Booking</h5>
                </a>

                <span class="booking_details">{{totalbooking}}
                </span>

            </div>

        </div>



        <div class="grid-item featured-rooms">
            <div class="image-wrap">
                <img class="room-image admin-room-image" src="/images/room_1.jpg" alt="" />

                <a href="admin/customers">
                    <h5 class="room-name ">Total Customers</h5>
                </a>
                <span class="booking_details">{{userCount}}
                </span>

            </div>

        </div>
        <div class="grid-item featured-rooms">
            <div class="image-wrap">
                <img class="room-image admin-room-image" src="/images/room_1.jpg" alt="" />
                <h5 class="room-name">Rooms available</h5>
                <span class="booking_details">10
                </span>

            </div>

        </div>



        <div class="grid-item featured-rooms">
            <div class="image-wrap">
                <img class="room-image admin-room-image" src="/images/room_1.jpg" alt="" />
                <h5 class="room-name">Today Income</h5>
                <span class="booking_details">10
                </span>

            </div>

        </div>
        <div class="grid-item featured-rooms">
            <div class="image-wrap">
                <img class="room-image admin-room-image" src="/images/room_1.jpg" alt="" />
                <h5 class="room-name">Total Income</h5>
                <span class="booking_details">10
                </span>

            </div>

        </div>
        <div class="grid-item featured-rooms">
            <div class="image-wrap">
                <img class="room-image admin-room-image" src="/images/room_1.jpg" alt="" />
                <h5 class="room-name">Total Income</h5>
                <span class="booking_details">10
                </span>

            </div>

        </div>
        <div class="grid-item featured-rooms">
            <div class="image-wrap">
                <img class="room-image admin-room-image" src="/images/room_1.jpg" alt="" />
                <h5 class="room-name">Total Income</h5>
                <span class="booking_details">10
                </span>

            </div>

        </div>
    </div>


</section>