<section class="hotels">
    <div class="container">
        <h5 class="section-head">
            <span class="heading">Explore</span>
            <span class="sub-heading">Our Beatutiful Destinations</span>
            <a href="/admin/addDestination" class="btn btn-gradient"
                style="position: absolute; z-index: 1;right: 8rem;top: 19rem;cursor: pointer">add
                Destination
            </a>
        </h5>

        <div class="grid">

            {{#each destination}}
            <div class="grid-item featured-hotels">
                <img src="/HOTEL/{{this._id}}.jpg" alt="" class="hotel-image" />
                <h5 class="destination-name">{{this.Destination}}</h5>
                <a href="/admin/destination?place={{this.Destination}}&id={{this._id}}" class="btn btn-gradient">View
                    Now
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </a>
            </div>
            {{/each}}





        </div>
    </div>
    </div>
</section>