<header class="header hotel">
    <div class="container">
        <nav class="nav">
            <a href="/" class="logo">
                <img src="/images/logo.png" alt="" />
            </a>
            <div class="hamburger-menu">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
            </div>
            <ul class="nav-list ">
                {{#if hotel}}
                <li class="nav-item">
                    <a href="/hotel" class="nav-link">{{hotel.username}}</a>
                </li>
                {{else}}
                <li class="nav-item">

                </li>
                {{/if}}
                <li class="nav-item">
                    <a href="/hotel/editfeatures" class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Offers</a>
                </li>

                {{#if hotel}}
                <li class="nav-item">
                    <a href="/hotel/logout" class="nav-link">Logout</a>
                </li>
                {{else}}

                <li class="nav-item">
                    <a href="/hotel/login" class="nav-link">Login</a>
                </li>

                {{/if}}
            </ul>
        </nav>
    </div>
</header>