<section class="rooms">
    <div class="container">
        <h5 class="section-head">
            <span class="heading">Luxurious</span>
            <span class="sub-heading">Affordable rooms</span>
        </h5>

        <div class="grid rooms-grid">



            {{#each rooms}}



            <div class="grid-item featured-rooms">
                <div class="image-wrap">
                    <img class="room-image" src="/HOTEL/{{this._id}}.jpg" alt="" />
                    <h5 class="room-name"> room {{this.roomnumber}}</h5>
                </div>
                <div class="room-info-wrap">
                    <span class="room-price">${{this.price}} <span class="per-night">Per Night</span>
                    </span>
                    <p class="paragraph">
                        {{this.description}}
                    </p>
                    <a href="#" class="btn rooms-btn">Book now &rarr;</a>
                </div>
            </div>





            {{/each}}






        </div>
    </div>
</section>