<section class="contact">
    <div class="container">
        <h5 class="section-head" data-aos="fade-down">
            <span class="heading">Checkout</span>
            <span class=" sub-heading">Get more with in us</span>
        </h5>
        <div class="contact-content">
            <div class="traveler-wrap" data-aos="fade-right" data-aos-duration="3000">
                <img src="images/traveler.png" alt="" />
            </div>
            <form action="" id="checkout-form" class="form contact-form" data-aos="fade-left">
                <div class="input-group-wrap">
                    <div class="input-group">
                        <input type="text" placeholder="Name" name="name" id="name" class="input" />
                        <span class="bar"></span>
                    </div>

                    <div class="input-group">
                        <input type="email" id="email" name="email" placeholder="E-mail" class="input" />
                        <span class="bar"></span>
                    </div>
                </div>

                <div class="input-group">
                    <input type="tel" id="mobile" name="mobile" placeholder="Mobile" class="input" />
                    <span class="bar"></span>
                </div>
                <div class="input-group">
                    <label for="total">Total amount: {{total}}
                        <input type="hidden" name="total" value="10000" placeholder="Mobile" class="input" />
                    </label>
                    <span class="bar"></span>
                </div>

                <div class="input-group">

                    <div class="payment">
                        <label for="payment">
                            Payment Method
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="payment" value="COD">COD
                        </label>
                        <label class="radio-inline ml-2">
                            <input type="radio" name="payment" value="online">online payment
                        </label>
                    </div>

                    <span class="bar"></span>
                </div>

                <button class="btn form-btn btn-purple" type="submit">
                    Proceed
                    <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                </button>
            </form>
        </div>
    </div>
</section>

<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place_order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                console.log(response)
                if (response.codSuccess) {
                    location.href = "/"
                } else {
                    razorpayPayment(response)
                }
            }
        })

    })
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_2wER6mnpGYCPCq", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Acme Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                verifyPayment(response, order)
            },
            "customer": {
                "name": "Gaurav Kumar",
                "contact": "+919999999999",
                "email": "gaurav.kumar@example.com"
            },
            "notify": {
                "sms": true,
                "email": true
            },

            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }

        };

        var rzp1 = new Razorpay(options);


        rzp1.open();

    }



    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = "/"
                } else {
                    alert("payment failed")
                }
            }
        })
    }
</script>